## Name: Chandrika M jethva
## Roll no: 130
## Class / Btach: SE AIML / B - 2
## Date: 22 / 01 / 2026
## Experiment-1: Practice of Major Functions in NumPy, Pandas, and Matplotlib Libraries.

## Program-2 to practice python pandas functions.

In [2]:
import numpy as np
import pandas as pd

### 1. Series Creation

In [3]:
# Series from list
s1 = pd.Series([10, 20, 30, 40])
print("Series from list:\n", s1)

# Series with custom index
s2 = pd.Series([1, 2, 3], index=['a','b','c'])
print("\nSeries with custom index:\n", s2)

# Series from dictionary
s3 = pd.Series({'x': 100, 'y': 200})
print("\nSeries from dictionary:\n", s3)

Series from list:
 0    10
1    20
2    30
3    40
dtype: int64

Series with custom index:
 a    1
b    2
c    3
dtype: int64

Series from dictionary:
 x    100
y    200
dtype: int64

### 2. DataFrame Creation

In [4]:
# From dictionary
df1 = pd.DataFrame({
'Name': ['Alice','Bob','Charlie'],
'Age': [25,30,35],
'City': ['NY','LA','Chicago']
})
print("DataFrame from dictionary:\n", df1)

# From NumPy array
arr = np.arange(9).reshape(3,3)
df2 = pd.DataFrame(arr, columns=['A','B','C'])
print("\nDataFrame from NumPy array:\n", df2)

# From list of lists
df3 = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['X','Y'])
print("\nDataFrame from list of lists:\n", df3)

DataFrame from dictionary:
       Name  Age     City
0    Alice   25       NY
1      Bob   30       LA
2  Charlie   35  Chicago

DataFrame from NumPy array:
    A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

DataFrame from list of lists:
    X  Y
0  1  2
1  3  4
2  5  6

### 3. Viewing Data

In [24]:
print("Head of df1:\n", df1.head(2))
print("\nTail of df1:\n", df1.tail(2))
print("\nColumns of df1:", df1.columns)
print("\nIndex of df1:", df1.index)
print("\nShape of df1:", df1.shape)
print("\nInfo of df1:")
print(df1.info())
print("\nDescribe numeric data in df1:\n", df1.describe())

Head of df1:
     Name  Age City  Salary  AgePlus5
0  Alice   25   NY   50000        30
1    Bob   30   LA   60000        35

Tail of df1:
       Name  Age     City  Salary  AgePlus5
1      Bob   30       LA   60000        35
2  Charlie   35  Chicago   70000        40

Columns of df1: Index(['Name', 'Age', 'City', 'Salary', 'AgePlus5'], dtype='object')

Index of df1: RangeIndex(start=0, stop=3, step=1)

Shape of df1: (3, 5)

Info of df1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      3 non-null      object
 1   Age       3 non-null      int64
 2   City      3 non-null      object
 3   Salary    3 non-null      int64
 4   AgePlus5  3 non-null      int64
dtypes: int64(3), object(2)
memory usage: 252.0+ bytes
None

Describe numeric data in df1:
         Age   Salary  AgePlus5
count   3.0      3.0       3.0
mean   30.0  60000.0      35.0
std     5.0  10000.0       5.0
min    25.0  50000.0      30.0
25%    27.5  55000.0      32.5
50%    30.0  60000.0      35.0
75%    32.5  65000.0      37.5
max    35.0  70000.0      40.0

### 4. Selection & Indexing

In [25]:
print("Select 'Name' column:\n", df1['Name'])
print("\nSelect multiple columns:\n", df1[['Name','City']])
print("\nSelect row by loc:\n", df1.loc[1])
print("\nSelect row by iloc:\n", df1.iloc[0])
print("\nSelect specific element:\n", df1.loc[1,'City'])

Select 'Name' column:
 0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

Select multiple columns:
       Name     City
0    Alice       NY
1      Bob       LA
2  Charlie  Chicago

Select row by loc:
 Name          Bob
Age            30
City           LA
Salary      60000
AgePlus5       35
Name: 1, dtype: object

Select row by iloc:
 Name        Alice
Age            25
City           NY
Salary      50000
AgePlus5       30
Name: 0, dtype: object

Select specific element:
 LA

### 5. Filtering & Boolean Indexing

In [26]:
print("Rows where Age > 28:\n", df1[df1['Age']>28])
print("\nRows where City is 'NY':\n", df1[df1['City']=='NY'])

Rows where Age > 28:
       Name  Age     City  Salary  AgePlus5
1      Bob   30       LA   60000        35
2  Charlie   35  Chicago   70000        40

Rows where City is 'NY':
     Name  Age City  Salary  AgePlus5
0  Alice   25   NY   50000        30

### 6. Adding & Modifying Columns

In [27]:
df1['Salary'] = [50000, 60000, 70000]
print("After adding Salary:\n", df1)
df1['AgePlus5'] = df1['Age'] + 5
print("\nAfter modifying/adding AgePlus5:\n", df1)

After adding Salary:
       Name  Age     City  Salary  AgePlus5
0    Alice   25       NY   50000        30
1      Bob   30       LA   60000        35
2  Charlie   35  Chicago   70000        40

After modifying/adding AgePlus5:
       Name  Age     City  Salary  AgePlus5
0    Alice   25       NY   50000        30
1      Bob   30       LA   60000        35
2  Charlie   35  Chicago   70000        40

### 7. Dropping Rows/Columns

In [28]:
df_dropped = df1.drop('AgePlus5', axis=1)
print("After dropping column AgePlus5:\n", df_dropped)
df_dropped_row = df1.drop(0, axis=0)
print("\nAfter dropping row 0:\n", df_dropped_row)

After dropping column AgePlus5:
       Name  Age     City  Salary
0    Alice   25       NY   50000
1      Bob   30       LA   60000
2  Charlie   35  Chicago   70000

After dropping row 0:
       Name  Age     City  Salary  AgePlus5
1      Bob   30       LA   60000        35
2  Charlie   35  Chicago   70000        40

### 8. Handling Missing Data

In [23]:
df_missing = pd.DataFrame({
'A':[1,np.nan,3],
'B':[4,5,np.nan]
})
print("DataFrame with missing values:\n", df_missing)
print("\nDrop rows with NaN:\n", df_missing.dropna())
print("\nFill NaN with 0:\n", df_missing.fillna(0))
print("\nCheck for NaN:\n", df_missing.isna())

DataFrame with missing values:
      A    B
0  1.0  4.0
1  NaN  5.0
2  3.0  NaN

Drop rows with NaN:
      A    B
0  1.0  4.0

Fill NaN with 0:
      A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0

Check for NaN:
        A      B
0  False  False
1   True  False
2  False   True

### 9. Aggregation Functions

In [22]:
print("Sum of numeric columns:\n", df1[['Age','Salary']].sum())
print("\nMean of numeric columns:\n", df1[['Age','Salary']].mean())
print("\nMax of numeric columns:\n", df1[['Age','Salary']].max())
print("\nMin of numeric columns:\n", df1[['Age','Salary']].min())
print("\nDescribe:\n", df1[['Age','Salary']].describe())

Sum of numeric columns:
 Age           90
Salary    180000
dtype: int64

Mean of numeric columns:
 Age          30.0
Salary    60000.0
dtype: float64

Max of numeric columns:
 Age          35
Salary    70000
dtype: int64

Min of numeric columns:
 Age          25
Salary    50000
dtype: int64

Describe:
         Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0

### 10. Grouping & Aggregation

In [29]:
df_group = pd.DataFrame({
'Department':['HR','IT','HR','IT','IT'],
'Employee':['Alice','Bob','Charlie','David','Eve'],
'Salary':[50000,60000,55000,65000,70000]
})
print("Original DataFrame:\n", df_group)
grouped = df_group.groupby('Department')['Salary'].mean()
print("\nAverage salary by Department:\n", grouped)

Original DataFrame:
   Department Employee  Salary
0         HR    Alice   50000
1         IT      Bob   60000
2         HR  Charlie   55000
3         IT    David   65000
4         IT      Eve   70000

Average salary by Department:
 Department
HR    52500.0
IT    65000.0
Name: Salary, dtype: float64

### 11. Sorting

In [21]:
df_group = pd.DataFrame({
'Department':['HR','IT','HR','IT','IT'],
'Employee':['Alice','Bob','Charlie','David','Eve'],
'Salary':[50000,60000,55000,65000,70000]
})
print("Original DataFrame:\n", df_group)
grouped = df_group.groupby('Department')['Salary'].mean()
print("\nAverage salary by Department:\n", grouped)

Original DataFrame:
   Department Employee  Salary
0         HR    Alice   50000
1         IT      Bob   60000
2         HR  Charlie   55000
3         IT    David   65000
4         IT      Eve   70000

Average salary by Department:
 Department
HR    52500.0
IT    65000.0
Name: Salary, dtype: float64

### 12. Merging / Concatenation

In [20]:
df_group = pd.DataFrame({
'Department':['HR','IT','HR','IT','IT'],
'Employee':['Alice','Bob','Charlie','David','Eve'],
'Salary':[50000,60000,55000,65000,70000]
})
print("Original DataFrame:\n", df_group)
grouped = df_group.groupby('Department')['Salary'].mean()
print("\nAverage salary by Department:\n", grouped)

Original DataFrame:
   Department Employee  Salary
0         HR    Alice   50000
1         IT      Bob   60000
2         HR  Charlie   55000
3         IT    David   65000
4         IT      Eve   70000

Average salary by Department:
 Department
HR    52500.0
IT    65000.0
Name: Salary, dtype: float64

### 13. File I/O

In [19]:
df_group = pd.DataFrame({
'Department':['HR','IT','HR','IT','IT'],
'Employee':['Alice','Bob','Charlie','David','Eve'],
'Salary':[50000,60000,55000,65000,70000]
})
print("Original DataFrame:\n", df_group)
grouped = df_group.groupby('Department')['Salary'].mean()
print("\nAverage salary by Department:\n", grouped)

Original DataFrame:
   Department Employee  Salary
0         HR    Alice   50000
1         IT      Bob   60000
2         HR  Charlie   55000
3         IT    David   65000
4         IT      Eve   70000

Average salary by Department:
 Department
HR    52500.0
IT    65000.0
Name: Salary, dtype: float64